.datepicker-container {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    padding: 0 1em;
}

.datepicker-container .month-header {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

.datepicker-container .row {
    display: flex;
    margin: -1px 0;
}

.datepicker-container .row .column {
    width: 36px;
    height: 36px;
    line-height: 2.5;
    text-align: center;
}

.datepicker-container .weekday-header .column {
    font-size: .9em;
    color: #666;
    height: 18px;
    line-height: 1.5;
}
