.hide-block {
    visibility: hidden;
}

.outside-active-month {
    opacity: .4;
}

.selected-between-range {
    background-color: green;
}

.selected-end-range {
    background-color: red;
}

.maybe-range {
    background-color: blue;
}