.hide-block {
    visibility: hidden;
}

.outside-active-month {
    opacity: .4;
}

.disabled {
    color:#ccc;
}

.maybe-start {
    background-color: #ccc;
}

.selected-end-range {
    background-color: #00a9ff;
}

.maybe-range, .selected-between-range {
    background-color: #84d0f7;
}