div {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    box-sizing: border-box;
}

button {
    -webkit-appearance: none;
    padding: 5px 9px;
    border-radius: 3px;
    outline: 0;
    border: 1px solid #ccc;
    background-color: #fff;
}

button:hover {
    background-color: #eaeaea;
}

button:active {
    background-color: #ccc;
}

button svg {
    width: 19px;
    height: 19px;
}