.outer-range-picker {
    display: flex;
    position: absolute;
}

.outer-range-picker:before {
    content: '';
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 30px;
    z-index: 2;
}

.outer-range-picker:after {
    content: '';
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -9px;
    left: 30px;
}

.outer-range-picker.hide {
    display: none;
}

.outer-range-picker.inline:before, .outer-range-picker.inline:after {
    border: 0;
}

.outer-range-picker.inline {
    position: static;
}

.range-picker {
    display: flex;
    border: 1px solid #ccc;
    background-color:#fff;
    padding: 1em 0;
    position: absolute;
    z-index: 2;
}