:host {
    font-size: 1em;
    border: 1px solid #ccc;
    display: inline-block;
    background-color: #fff;
}

svg {
    width: 24px;
    height: 24px;
    padding: 5px;
}

div {
    display: flex;
}